body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Tahoma, Verdana, 'Trebuchet MS', Arial;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(../Images/flexbox.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.navigation, .main, .aside {
  margin: 4px;
}

.header {
  padding: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;

}

.navigation {
  flex: 0.5 0.5 100px;
}

.navigation>ul {
  margin: 0;
  list-style-type: none;
  padding: 4Opx;
  background-color: #19d3da;
  border-radius: 8px;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 8px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.navigation>ul>li {
  padding: 20px;
  font-weight: 700;
}

.navigation>ul>li>a {
  color: black;
}

.navigation>ul>li>a:hover {
  color: white;
}


.main {
  flex: 3 3;
  padding-bottom: 1rem;
  background-color: #ffe05d;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.main>ul {
  list-style-position: inside;
}

.aside {
  padding-top: 3rem;
  flex: 0.5 0.5 100px;
  background-image: url(../Images/code-editor.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  padding: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

@media all and (max-width: 700px) {
  .container {
      flex-direction: column;
  }
}